*.jar
*.class
/nav-xsd-parser-tool-cli/target
/nav-xsd-parser-tool-core/target
/nav-xsd-parser-tool-page-schema/target
/nav-xsd-parser-tool-print/target
/nav-xsd-parser-tool-processing/target
/nav-xsd-parser-tool-schema-registry/target
/nav-xsd-parser-tool-uimodel/target
/nav-xsd-parser-tool-xpath-cli/target
/nav-xsd-parser-tool-xsd/target
/nav-xsd-parser-tool-web/target
/installer/windows/build
/nav-xsd-parser-tool-github-updater/target
/target
/docs
/nav-xsd-parser-tool-m2m-submitter/target
/nav-xsd-parser-tool-coverage/target
/.idea
/nav-xsd-parser-tool-multiform/target
/nav-xsd-parser-tool-versioning/target
